/* 
    Document   : nick
    Created on : 28.03.2013, 15:06:08
    Author     : sz
    Description:
        Purpose of the stylesheet follows.
*/

/*Start media declaration DESKTOP VERSION*/

@media (min-width: 979px) {

.view-display-id-page tr td .views-field-title {width: 186px;margin: auto;}
.views-field-title .field-content a {line-height:16px; word-break: none}

iframe.social_links_fb {margin-left:10px}

#social_links {position: absolute; bottom: -48px;left: 465px;}

#cart_link {position: absolute; bottom: -45px;left: 347px;}

#sub_menu {position: absolute; right: -32px; text-align: right; top: 140px;}
#sub_menu ul li a {margin-right: 45px;}

/* Testing new menu link layout May 20
#main_menu {position: absolute;right: -26px;text-align: right;top: 103px;width: 742px;}
#main_menu ul li a {display: inline-block;text-transform: uppercase;color: #777;text-decoration: none;font-size: 19px;margin-right: 80px;}*/

#main_menu {position: absolute;right: -34px;text-align: right;top: 103px;width: 762px;}
#main_menu ul li a {display: inline-block;text-transform: uppercase;color: #777;text-decoration: none;font-size: 19px;margin-right: 46px;}

#block-recently_read-product .item-list .field-name-uc-product-image .field-items {height: 140px;}

#block-recently_read-product .item-list ul li {margin: 0 25px 15px 0;}

div.see_also {margin-top:-10px}

.recenly_view_title {padding-top:0}

div.recenly ul {margin-top:10px !important; margin-bottom:-10px !important}

div.see_also .field-items {margin-top:-15px !important}

div.pin_like {margin-top:5px}
div.fb-like {margin-top:5px}
div.twit_like {margin-top:5px}

#node_product_full_group_add_to_cart .node-add-to-cart {float: right;height: 96px;margin: -20px 0 0;width: 231px;background: url("../styles/images/add_to_cart_btn.png") no-repeat scroll 0 0 transparent;color: #5E6B1A;display: block;font: 18px/93px 'PT Sans',sans-serif;padding: 0 0 6px 83px;text-align: center;text-shadow: 1px 1px 0 #FFFFFF;text-transform: uppercase;border: medium none;}

span.uc-price {position:relative; bottom:6px}

#eco_video {margin-left:10px; margin-top:-30px}

#eco_cell2 div p {width: 500px;}

#uc-cart-checkout-form .fieldset-wrapper {width: 741px;}

#eco_cell2 {margin-top: 10px !important;}

#webform-client-form-10 .webform-component {padding-left: 100px; width:}

#edit-submitted-subject, #webform-client-form-10 textarea, #webform-client-form-10 input, #webform-client-form-10 textarea {width: 300px !important;}

.cat_filter_image {margin-bottom:-10px}

#care_refr #add_btn {margin-top:-15px;}

#webform-client-form-10 textarea {min-width: 300px;}

p#we_accept {margin-bottom:-20px; margin-top:-15px}

div.field_group_right:nth-of-type(1) {margin-top:-20px}
div.field_group_right:nth-of-type(2), div.field_group_right:nth-of-type(3), div.field_group_right:nth-of-type(4) {margin-top:-60px}

#uc-cart-checkout-form tr.delimeter {display: none; /*height:100px (sets height of spacing below items in cart contents)*/}

#block-recently_read-product .recenly {min-height: 155px;}

#complete #step5_left {float: left; width: 922px;}

.complete_footer p {font: 16px/23px;}


#edit-panes-coupon-apply.form-submit {padding: 8px 20px;border-radius: 8px;background-color: rgb(219, 238, 185);border: 1px solid rgb(167, 184, 137);font-weight: bold;color: rgb(56, 68, 30); opacity:.9}
#edit-panes-coupon-apply.form-submit:hover {opacity:1;}

div.complete_info {width:30%; float:left;}

.complete_info_wrapper {margin: 15px 0 20px 0;}

#complete h1 {width: 100%;}

#step5_pic {display:none;}

.views-field-uc-product-image:hover {opacity: .9;}

#eco_video {width: auto !important; height: auto; margin-bottom:40px;}

.field_group_right .gaz {top: 43%;}

.section-products #content h1 {margin-top:-5px;}
.section-products #content p {}
.section-products .view-content {margin-top:-20px;}

div.complete_footer #tell_your_friends {display: none;}

.complete_total {font-size: 26px;margin: 0 0 15px 0;text-align: left;}

.complete_footer p {padding-bottom: 25px}

#complete #order_no {color: #4F878F; font: 26px 'PT Sans',sans-serif; padding: 20px 0 2px;}

#complete #user_menu li a {padding: 0 50px 15px 0;float: left;}

.view-id-products {margin-top: -83px;}

.section-products p, .view-catalog p {font-size:14px;}

#block-block-4 ul.pager {/*margin-top: -10px !important;float: right; padding-bottom: 0px; margin-right: 64px;*/}
.top_pager {display:block; margin-top:-10px;}

.section-catalog #content {margin-top:-10px;}

.view-display-id-page tr td .views-field-sell-price span {margin-top:1px}

.views-field.views-field-field-size a {text-decoration: underline;}


/*End media declaration*/
}


/*Start media declaration LANDSCAPE PHONES AND DOWN*/

@media (max-width: 480px) {

#edit-panes-coupon-apply.form-submit {padding: 8px 20px;border-radius: 8px;background-color: rgb(219, 238, 185);border: 1px solid rgb(167, 184, 137);font-weight: bold;color: rgb(56, 68, 30); opacity:.9}
#edit-panes-coupon-apply.form-submit:hover {opacity:1;}

#uc-order-total-preview tr {min-height:20px !important;}

.page-products #content h1 {float: right;margin-right: 15px;}

.page-cart-checkout #add_btn h6, .page-cart-checkout .cart_continue_text {float: none!important;text-align: left; display: none;}

.page-cart-checkout #add_btn h6, .page-cart-checkout .cart_continue_text {display: none;}

#complete #tell_your_friends {display:none}

/*End media declaration*/
}
















